#cart .container {
    max-width: 1140px;
}

#cart .order-list{
    padding: 150px 0 50px;
}

#cart .order-list .table-ctr{
    overflow: auto;
}

#cart .order-list .table-ctr table{
    min-width: 750px;
}

#cart .order-list thead tr th{
    font-size: 14px;
    font-weight: 400;
}

#cart .order-list tbody tr{
    border-top: 1px solid #eee;
}

#cart .order-list tbody tr td .prod-ctr{
    display: flex;
    align-items: center;
}

#cart .order-list tbody tr td .prod-ctr img{
    max-width: 100px;
    margin-right: 20px;
}

#cart .order-list tbody tr td .prod-ctr .prod-name{
    margin: 0;
    font-size: 18px;
}

#cart .order-list tbody tr td .prod-ctr a{
    display: block;
    color: #d74040;
    font-size: 14px;
}

#cart .order-list tbody tr td{
    vertical-align: middle;
}

#cart .order-list tbody tr td .price{
    font-size: 21px;
    margin: 0;
    text-align: right;
}

#cart .order-list tbody tr td .total-price{
    font-size: 21px;
    text-align: right;
    color: #9e742b;
    margin-bottom: 20px;
    font-weight: 600;
}

#cart .order-list tbody tr td .total-price small{
    font-size: 14px;
    margin-right: 75px;
    color: #1A1816;
}

#cart .no-order-ctr{
    text-align: center;
    padding: 50px;
}

#cart .checkout-ctr{
    padding: 150px 0 100px;
}

#cart .checkout-ctr .title{
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 30px;
}

#cart .checkout-ctr .title a{
    color: #9e742b;
}

#cart .checkout-ctr .form-control{
    border-radius: 0;
    font-size: 14px;
}

#cart .checkout-ctr input.form-control{
    height: 50px;
}

#cart .checkout-ctr .form-control::placeholder{
    text-transform: uppercase;
    font-size: 12px;
}

#cart .checkout-ctr .buttons-ctr{
    display: flex;
    align-items: center;
}

#cart .checkout-ctr .product-list{
    list-style-type: none;
    padding: 16px;
    margin: 0;
}

#cart .checkout-ctr .product-list li{
    display: flex;
    align-items: center;
}

#cart .checkout-ctr .product-list li .img-ctr{
    width: 75px;
    height: 75px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    margin-right: 20px;
}

#cart .checkout-ctr .product-list li .img-ctr .qty{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background: #1A1816;
    border-radius: 100px;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart .checkout-ctr .product-list li .prod-name{
    margin: 0;
    margin-right: 20px;
    font-size: 14px;
}

#cart .checkout-ctr .product-list li .price{
    margin: 0;
    margin-left: auto;
    font-size: 14px;
}

#cart .checkout-ctr .totals-ctr{
    padding: 16px;
    font-size: 14px;
    border-top: 1px solid #eee;
}

#cart .checkout-ctr .totals-ctr strong{
    font-size: 18px;
    color: #9e742b;
    margin-left: 10px;
}

.cart-count{
    position: absolute;
    bottom: 5px;
    right: -5px;
    width: 13px;
    height: 13px;
    background: #d52828;
    color: #fff;
    border-radius: 100px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1200px) {
    #cart .order-list,
    #cart .checkout-ctr{
        padding: 250px 0 50px;
    }
    .cart-count{
        bottom: -5px;
        right: -5px;
    }
}