#contact .container{
    max-width: 1140px;
}

#contact .sec1{
    padding: 160px 20px 20px;
}

#contact .sec1 .heads h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

#contact .sec1 .heads h6{
    text-transform: uppercase;
    color: #9e742b;
    font-weight: 300;
    font-size: 14px;
}

#contact .sec1 .heads h3{
    color: #9e742b;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#contact .sec1 a{
    display: block;
    font-size: 18px;
    color: #1A1816;
    padding: 5px 0;
}

#contact .sec1 a:hover{
    color: #9e742b;
}

#contact .sec1 .btn{
    max-width: 220px;
    margin-top: 50px;
}

#contact .contact-box h5{
    font-weight: 700;
    margin-top: 30px;
}

#contact .sec2{
    padding: 50px 20px;
}

#contact .sec2 h1{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
}

#contact .sec2 .form-group input.form-control{
    border-radius: 0;
    height: 50px;
    font-size: 14px;
}

#contact .sec2 .form-group textarea.form-control{
    border-radius: 0;
    font-size: 14px;
}

@media only screen and (min-width: 1200px) {
    #contact .sec1{
        padding: 250px 70px 130px;
    }
    #contact .sec2{
        padding: 100px 70px;
    }
}