#home .sec1{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/sec1_bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 20px;
}

#home .sec1 .intro-box{
    max-width: 1000px;
    margin: auto;
}

#home .sec1 .intro-box h1{
    color: #9e742b;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

#home .sec1 .intro-box p{
    font-size: 18px;
    max-width: 290px;
    margin-bottom: 50px;
}

#home .sec1 .intro-box .btn{
    max-width: 220px;
}

#home .sec2{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}

#home .sec2 .img-ctr,
#home .sec2 .details-ctr{
    padding: 0 20px;
}

#home .sec2 .img-ctr{
    position: relative;
}

/* #home .sec2 .img-ctr img:last-child{
    position: absolute;
    bottom: -24%;
    left: -5%;
    width: 33%;
} */

#home .sec2 .details-ctr h6{
    text-transform: uppercase;
    color: #9e742b;
    font-weight: 300;
    font-size: 14px;
}

#home .sec2 .details-ctr h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

#home .sec2 .details-ctr h3{
    color: #9e742b;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#home .sec2 .details-ctr p{
    line-height: 1.7;
    margin: 0;
    font-size: 18px;
}

#home .sec4{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}

#home .sec4 .desc-ctr,
#home .sec4 .details-ctr{
    padding: 0 20px;
}

#home .sec4 .details-ctr h6{
    text-transform: uppercase;
    color: #9e742b;
    font-weight: 300;
    font-size: 14px;
}

#home .sec4 .details-ctr h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

#home .sec4 .desc-ctr{
    margin: 0;
}

#home .sec4 .desc-ctr li{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#home .sec4 .desc-ctr li .ic-ctr{
    width: 100px;
    padding: 0 15px;
}

#home .sec4 .desc-ctr li .ic-ctr img{
    max-width: 45px;
    opacity: 0.2;
    transition: all 0.3s;
}

#home .sec4 .desc-ctr li:hover .ic-ctr img{
    opacity: 1;
}

#home .sec4 .desc-ctr li .desc-box{
    flex: 1;
    padding: 15px;
}

#home .sec4 .desc-ctr li .desc-box h3{
    font-weight: 300;
    color: #9e742b;
    font-size: 24px;
    margin-bottom: 20px;
}

#home .sec4 .desc-ctr li .desc-box p{
    margin: 0;
    font-size: 18px;
}

#home .sec5{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}

#home .sec5 .img-ctr,
#home .sec5 .details-ctr{
    padding: 0 20px;
}

#home .sec5 .img-ctr{
    position: relative;
}

#home .sec5 .details-ctr h6{
    text-transform: uppercase;
    color: #9e742b;
    font-weight: 300;
    font-size: 14px;
}

#home .sec5 .details-ctr h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

#home .sec5 .details-ctr h3{
    color: #9e742b;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#home .sec5 .details-ctr p{
    line-height: 1.7;
    margin: 0;
    font-size: 18px;
}

#home .sec6{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
}

#home .sec6 .slides-ctr,
#home .sec6 .details-ctr{
    padding: 0 20px;
}


#home .sec6 .details-ctr h6{
    text-transform: uppercase;
    color: #9e742b;
    font-weight: 300;
    font-size: 14px;
}

#home .sec6 .details-ctr h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1200px) {
    #home .sec2,
    #home .sec4,
    #home .sec5, 
    #home .sec6{
        padding-top: 180px;
    }
    #home .sec2 .img-ctr,
    #home .sec2 .details-ctr,
    #home .sec4 .desc-ctr,
    #home .sec4 .details-ctr,
    #home .sec5 .img-ctr,
    #home .sec5 .details-ctr,
    #home .sec6 .slides-ctr,
    #home .sec6 .details-ctr{
        padding: 0 70px;
    }
}