#login .container{
    max-width: 1140px;
}

#login h1{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 50px;
}

#login .form-ctr{
    padding: 150px 20px 100px;
}

#login .form-ctr a{
    font-size: 14px;
    color: #9e742b;
}

#login .form-ctr span{
    font-size: 14px;
}

#login .form-ctr .form-control{
    border-radius: 0;
    font-size: 14px;
}

#login .form-ctr input.form-control{
    height: 50px;
}

#login .form-ctr .form-control::placeholder{
    text-transform: uppercase;
    font-size: 12px;
}

@media only screen and (min-width: 1200px) {
    #login .form-ctr{
        padding: 250px 20px 100px;
    }
}