#products .prods-ctr{
    display: flex;
    flex-direction: column;
    padding: 150px 0 20px;
}

#products .prods-ctr .categories{
    width: 200px;
    padding: 15px;
    list-style-type: none;
}

#products .prods-ctr .categories li a{
    display: block;
    padding: 10px 0;
    color: #1A1816;
}

#products .prods-ctr .categories li a:hover,
#products .prods-ctr .categories li a.active{
    color: #9e742b;
}

#products .prods-ctr .prod-list{
    flex: 1;
    padding: 15px;
}

#products .prods-ctr .prod-list .heads h6{
    text-transform: uppercase;
    color: #9e742b;
    font-weight: 300;
    font-size: 14px;
}

#products .prods-ctr .prod-list .heads h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

#products .prods-ctr .prod-list .heads h3{
    color: #9e742b;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#products .prods-ctr .prod-list .prod-box{
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
    transition: all 0.3s;
}

#products .prods-ctr .prod-list .prod-box:hover{
    cursor: pointer;
    opacity: 0.8;
}

#products .prods-ctr .prod-list .prod-box .prod-name{
    margin: 0;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#products .prods-ctr .prod-list .prod-box .price{
    font-size: 21px;
    color: #9e742b;
}

#prod-preview .prod-details{
    padding: 150px 20px 20px;
}

#prod-preview .prod-details .img-ctr{
    text-align: center;
}

#prod-preview .prod-details h6{
    text-transform: uppercase;
    color: #9e742b;
    font-weight: 300;
    font-size: 14px;
}

#prod-preview .prod-details h1{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
    line-height: 1;
}

#prod-preview .prod-details h3{
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 30px;
}

#prod-preview .prod-details p{
    font-size: 18px;
    margin-bottom: 30px;
}

#prod-preview .prod-details .contents{
    list-style-type: none;
    padding: 0;
}

#prod-preview .prod-details .contents li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 14px;
}

#prod-preview .prod-details .contents li strong{
    color: #9e742b;
}

#prod-preview .prod-details .buttons-ctr{
    display: flex;
    align-items: center;
}

#prod-preview .prod-details .buttons-ctr .primary-btn{
    flex: 1;
    max-width: 200px;
}

#prod-preview .prod-details .buttons-ctr p{
    margin: 0;
    font-weight: 600;
    font-size: 21px;
    color: #9e742b;
}

@media only screen and (max-width: 500px) {
    #prod-preview .prod-details .buttons-ctr{
        flex-direction: column;
        align-items: baseline;
    }
}

@media only screen and (min-width: 992px) {
    #products .prods-ctr{
        flex-direction: row;
    }
    #products .prods-ctr .categories{
        position: sticky;
        top: 70px;
        align-self: flex-start;
    }
}

@media only screen and (min-width: 1200px) {
    #products .prods-ctr,
    #prod-preview .prod-details{
        padding: 250px 70px 50px;
    }
    #prod-preview .prod-details h1{
        font-size: 85px;
    }
}